<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

   <!--SqlSessionTemplate생성시적용될설정작성부분 -->
   <settings>
      <!--
         insert 또는 update에사용되는값중 null이있을경우에대한설정 
         해당설정이없을경우-> SQL 구문에null 포함되어있다는 오류발생. 
         해상설정이있을경우-> 오류를발생시키지않고 NULL값을컬럼에대입 
         단, NOT NULL 제약조건이없는컬럼에만가능함. 
         ** value설정시 NULL은 반드시대문자로작성(소문자null은오류가발생함)
       -->
      <setting name="jdbcTypeForNull" value="NULL" />
   </settings>
   
   <!--별칭작성부분 -->
   <!--DTO클래스의 패키지 명+ 클래스명 작성하는 것이 불편하기 때문에짧은별칭부여 -->
   <typeAliases>
      <typeAlias type="edu.kh.project.member.model.dto.Member" alias="Member" />
      <typeAlias type="edu.kh.project.board.model.dto.Board" alias="Board" />
   </typeAliases>
   
   <!--mapper 파일(SQL 작성되는파일) 위치등록부분 -->
   <mappers>
      <mapper resource="/mappers/member-mapper.xml" />
      <mapper resource="/mappers/myPage-mapper.xml" />
      <mapper resource="/mappers/ajax-mapper.xml" />
      <mapper resource="/mappers/email-mapper.xml" />
      <mapper resource="/mappers/board-mapper.xml" />
      
   </mappers>
 

</configuration>
